/* styles.css */

body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #e7f70b;
}

.container {
    width: 80%;
    margin: 0 auto;
    padding: 20px;
}

header {
    background-color: #11f109;
    color: #040a00;
    padding: 10px 0;
}

header h1 {
    margin: 0;
    font-size: 2em;
}

nav ul {
    list-style-type: none;
    padding: 0;
}

nav ul li {
    display: inline;
    margin-right: 20px;
}

nav ul li a {
    color: #4907308e;
    text-decoration: none;
    font-size: 1.2em;
}

.menu-section {
    padding: 40px 0;
    background-color: #fff;
}

.menu-section h2 {
    font-size: 2em;
    text-align: center;
}

.menu-items {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
}

.menu-item {
    background-color: #f9f9f9;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 300px;
}

.menu-item h3 {
    margin-top: 0;
    font-size: 1.5em;
}

.menu-item p {
    font-size: 1.1em;
    color: #666;
}

.menu-item span {
    display: block;
    font-size: 1.3em;
    font-weight: bold;
    margin-top: 10px;
    text-align: right;
    color: #333;
}

footer {
    background-color: #11f109;
    color: #fff;
    text-align: center;
    padding: 10px 0;
    position: fixed;
    bottom: 0;
    width: 100%;
}
